<html>
    <head>
        <style>

            body {
                font-family: Verdana;
            }
            .logo {
                display: inline-block;
            }

            .logo img {
                height: 50px;
                width: 50px;
            }

            tr.scores {
                height: 1.5em;
            }

            .playername {
                padding-left: 10px;
                min-width: 75px;
                height: 1.5em;
            }
            .score {
                max-width: 30px;
                min-width: 30px;
                width: 30px;
                text-align: right;
                padding-right: 10px;
            }

            .scoreboard {
                display: inline-block;
            }

            table {
                border: 1px solid;
                border-color:  {{ borderColor }};
                background-color: {{ backgroundColor }};
                border-spacing: 0;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="logo">
                <img src="/scoreboard/public/logos/{{logo}}.png" />
            </div>
            <div class="scoreboard">
                <table>
                    <tr class="scores" name="player1">                
                        <td class="playername" name="name">{{player1.name}}</td>
                        <td class="score" name="score1">{{player1.score1}}</td>
                        <td class="score" name="score2">{{player1.score2}}</td>
                        <td class="score" name="score3">{{player1.score3}}</td>
                        <td class="score" name="score4">{{player2.score4}}</td>
                        <td class="score" name="score5">{{player2.score5}}</td>
                    </tr>
                    <tr class="scores" name="player2">
                        <td class="playername" name="name">{{player2.name}}</td>
                        <td class="score" name="score1">{{player2.score1}}</td>
                        <td class="score" name="score2">{{player2.score2}}</td>
                        <td class="score" name="score3">{{player2.score3}}</td>
                        <td class="score" name="score4">{{player2.score4}}</td>
                        <td class="score" name="score5">{{player2.score5}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>

    <script>
    let refreshTimer;
    
    function configureTimer() {
        setInterval(() => {
            loadData('{{id}}');
        }, 1000);
    }

    configureTimer();

    if ("{{player1.name}}" === "" || "{{player2.name}}" === "") {
        configureGame();
    }

    async function configureGame() {
        const endpoint = '/scoreboard/api/game/{{id}}';
        const p1 = window.prompt('Player 1 name');
        const p2 = window.prompt('Player 2 name');
        payload = { player1: { name: p1, score1: 0, score2: 0, score3: 0 }, player2: { name: p2, score1: 0, score2: 0, score3: 0 }, game: 1 };
        callback(endpoint, payload);
    }

    async function loadData(gameId) {
        const GET_gameIdEndpoint = `/scoreboard/api/game/${gameId}`;
        const response = await fetch(GET_gameIdEndpoint);
        const gameData = await response.json();
        updateDataView(gameData);
    }

    function getChildElement(node, elementName) {
        return node.querySelector(`td[name='${elementName}']`);
    }

    async function updateDataView(scoreInfo) {
        let p1Node = document.getElementsByName("player1")[0];
        let p2Node = document.getElementsByName("player2")[0];

        const updatePlayerInfo = (player, node) => {

            for (let i = 1; i <= 5; i++) {
                const gametd = getChildElement(node, `score${i}`);
                gametd.textContent = player[`score${i}`];
                if (i > 0) {
                    gametd.hidden = scoreInfo.config.length <= i;
                }
            }
        };

        updatePlayerInfo(scoreInfo.player1, p1Node);
        updatePlayerInfo(scoreInfo.player2, p2Node);
        serverState = scoreInfo.server;
        p1NameNode = p1Node.querySelector(`td[name='name']`);
        p2NameNode = p2Node.querySelector(`td[name='name']`);
        if (serverState === "player1") {
            p1NameNode.style.fontWeight = "bold"
            p2NameNode.style.fontWeight = "normal"
        } else {
            p1NameNode.style.fontWeight = "normal"
            p2NameNode.style.fontWeight = "bold"
        }
    }
    </script>
</html>
